<!DOCTYPE html>
<html lang="en">
<head>
    <title>retrival</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

    <div class="container">
        <h2>dataform</h2>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>Age</th>
                    <th>Dob</th>
                </tr>
            </thead>
            <tbody>
                {% for i in forms %}
                <tr>
                    <td>{{i.id}}</td>
                    <td>{{i.name}}</td>
                    <td>{{i.mail}}</td>
                    <td>{{i.age}}</td>
                    <td>{{i.date_of_birth}}</td>
                </tr>
                {%endfor%}


            </tbody>
        </table>
    </div>

</body>
</html>